%nav.top-bar{ role: 'navigation', style: 'height:70px; padding-top: 10px'}
  %ul.title-area
    %li.name
      %h1
        %a{href: '/'} Home
    %li.toggle-topbar.menu-icon
      %a{href: '#'}
        %span Menu

  %section.top-bar-section
    %ul.left
      %li.has-dropdown.not-click
        %a{href: '#'} Music
        %ul.dropdown
          %li
            %a{href: '/audio'} Audio
          %li
            %a{href: '/video'} Video
      %li
        %a{href: '/shows'} Shows
      %li
        %a{href: '/about'} About
      %li
        %a{href: '/contact'} Contact
  %section.top-bar-section
    %ul.right
      %li
        %a{href: 'http://www.facebook.com/StephenCrespoMusic', target: '_blank'}
          %i.fi-social-facebook{style: 'font-size:32px'}
      %li
        %a{href: 'http://www.youtube.com/channel/UCsihA-70Fws-f3IZFcJe2KA', target: '_blank'}
          %i.fi-social-youtube{style: 'font-size:32px'}
      %li
        %a{href: 'http://www.github.com/unclelarrysvan', target: '_blank'}
          %i.fi-social-github{style: 'font-size:32px'}
