=render 'header_nav'

%h1.text-center Shows

.row
  .small-8.small-offset-2.columns
    .panel.text-center
      Shows every Friday at
      %a{href: "http://dreamcuisinecafe.net", target: "_blank"}Dream Cuisine Cafe!
      %br
      6:30
      %br
      Reserve your table on
      %a{href: "http://www.opentable.com/dream-cuisine-cafe?hpu=754446802&shpu=1&rid=40423&m=13&d=09/03/2014%2010:30%20PM&p=2&msg=Reservations+for+parties+consisting+of+twelve+or+more+people+must+be+made+over+the+phone.+Thank+you+for+your+understanding.&t=fr&sd=9/3/2014%2010:30%20PM&mode=nextavail", target: "_blank"} Open Table
      %br
