%h1.text-center Video

.row
  .small-4.small-offset-4.columns
    .flex-video
      <iframe width="560" height="315" src="//www.youtube.com/embed/nsM92XiBG6s" frameborder="0" allowfullscreen></iframe>
.row
  .small-4.small-offset-4.columns
    %a{href: 'http://www.youtube.com/channel/UCsihA-70Fws-f3IZFcJe2KA', target: '_blank'}
      %i.fi-social-youtube{style: 'font-size:72px'}
